body {
    padding-top: 5rem;
}

.form-area{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    row-gap: 15px;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

input{
    width: 300px;
}

textarea{
    width: 300px;
}

.success{
    color: dodgerblue;
}